name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest-html

      - name: Run Black (code formatter)
        run: |
          python -m black --check .

      - name: Set up environment variables
        run: |
          echo "SAUCE_USERNAME=${{ secrets.SAUCE_USERNAME }}" >> $GITHUB_ENV
          echo "SAUCE_PASSWORD=${{ secrets.SAUCE_PASSWORD }}" >> $GITHUB_ENV

      - name: Run tests and generate JUnit and HTML reports
        run: |
          python -m pytest tests/ --junitxml=pytest-report.xml --html=pytest-report.html --self-contained-html

      - name: Upload JUnit XML report artifact
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report-xml
          path: pytest-report.xml

      - name: Upload HTML report artifact
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report-html
          path: pytest-report.html 